<?php
return [
    'db' => [
        'adapters' => [
            'SIMpelAdapter' => [
                'database' => 'aplikasi',
                'driver' => 'PDO_Mysql',
                'hostname' => '127.0.0.1',
                'username' => 'simrsgos',
                'password' => 'S!MRSGos2',
            ],
            'BPJSAdapter' => [
                'driver' => 'Pdo_Mysql',
                'database' => 'bpjs',
                'hostname' => '127.0.0.1',
                'username' => 'simrsgos',
                'password' => 'S!MRSGos2',
            ],
            'INACBGAdapter' => [
                'driver' => 'Pdo_Mysql',
                'database' => 'inacbg',
                'hostname' => '127.0.0.1',
                'username' => 'simrsgos',
                'password' => 'S!MRSGos2',
            ],
            'WinacomAdapter' => [
                'database' => 'lis_bridging',
                'driver' => 'PDO_Mysql',
                'hostname' => '',
                'username' => '',
                'password' => '',
            ],
        ],
    ],
    'services' => [
        'SIMpelService' => [
            'instansi' => [
                'id' => '7371325',
            ],
            'plugins' => [
                'ReportService' => [
                    'route' => [
                        '127.0.0' => '127.0.0.1',
						'192.168.137' => '192.168.137.2',
						'simrsgos.kemkes.go' => 'simrsgos.kemkes.go.id',
                    ],
                    'url' => 'http://[HOST]/webservice/report?requestReport=',
                    'key' => 'b14ba5e1e0073125e3fe2d228a35b04fc7c39caae08245e3ca46049358b73e43',
                ],
                'BPJS' => [
                    'url' => 'http://127.0.0.1/webservice/bpjservice',
                    'koders' => '1801R001',
                ],
                'INACBG' => [
                    'url' => 'http://127.0.0.1/webservice/inacbgservice',
                    'koders' => '7371325',
                ],
                'INASIS' => [
                    'url' => 'http://127.0.0.1/webservice/inasiservice',
                    'koders' => '7371325',
                ],
                'SP2RS' => [
                    'url' => 'http://127.0.0.1/webservice/sp2rservice',
                    'koders' => '7371325',
                ],
                'Kemkes' => [
                    'url' => 'http://127.0.0.1/webservice/kemkes',
                    'koders' => '7371325',
                ],
                'Dukcapil' => [
                    'url' => 'http://127.0.0.1/webservice/dukcapil/service',
                    'koders' => '7371325',
                ],
                'Pusdatin' => [
                    'url' => 'http://127.0.0.1/webservice/pusdatin/adminduk',
                    'koders' => '7371325',
                ],
                'TTS' => [
                    'url' => 'http://127.0.0.1/webservice/tts',
                    'koders' => '7371325',
                ],
            ],
        ],
        'ReportService' => [
            'db' => [
                'driver' => 'com.mysql.cj.jdbc.Driver',
                'driverManager' => 'java.sql.DriverManager',
                'connectionStrings' => [
                    0 => 'jdbc:mysql://127.0.0.1:3306/aplikasi?serverTimezone=UTC&user=simrsgos&password=S!MRSGos2',
                ],
                \locale::class => [
                    0 => 'in',
                    1 => 'ID',
                ],
            ],
            'javaBridge' => [
                'location' => 'http://127.0.0.1:8080/JavaBridge/java/Java.inc',
            ],
            'key' => 'b14ba5e1e0073125e3fe2d228a35b04fc7c39caae08245e3ca46049358b73e43',
        ],
        'BPJService' => [
            'url' => 'https://dvlp.bpjs-kesehatan.go.id/VClaim-Rest',
			'id' => '[CONSUMER ID DARI BPJS]',
			'key' => '[CONSUMER SECRET DARI BPJS]',
			'timezone' => 'UTC',
			'addTime' => 'PT0M',
			'koders' => '1801R001',
			/* untuk menggunakan versi ws bpjs 
			 * name : Nama Web Service
			 * value: "" = "Sep" | "VClaim" = "VClaim"
			 */
			'name' => 'VClaim',
			'version' => '1.1',
            'writeLog' => false,
						
			'aplicares' => [
				'url' => 'http://dvlp.bpjs-kesehatan.go.id:9080/aplicaresws/rest',
				'id' => '{CONSUMER SECRET DARI BPJS}',
				'key' => '{CONSUMER SECRET DARI BPJS}',
                'koders' => '1801R001',
                'timezone' => 'UTC',
				'addTime' => 'PT0M',
                'writeLog' => false,
			],
        ],
        'INACBGService' => [
			'koders' => '7371325',
			"5" => [
				"non spesifik" => [
					'url' => 'http://[IP/HOST]/E-Klaim/ws.php',
					'user' => '[USER NAME INACBG | OPTIONAL]',
					'pwd' => '[PASSWORD INACBG | OPTIONAL]',
					'koders' => '7371325',
					'key' => '[ENCRYPT KEY DARI APLIKASI E-KLAIM]',
					'kode_tarif' => '[KODE TARIF RS]',
					'version' => [
						"minor" => 2
					],
                    'writeLog' => false,
				],
			],
        ],
		
        'KemkesService' => [
            'url' => 'http://sirs.yankes.kemkes.go.id/sirsservice',
            'id' => '7371325',
            'key' => '[PASSWORD DARI KEMKES]',
            'writeLog' => false,
            'Dashboard' => [
                'url' => "http://103.74.143.46/test/sirsservice",
                'id' => '7371325',
                'key' => '[PASSWORD DARI KEMKES]',
                'writeLog' => false,
            ],
            'Sisrute' => [
                'url' => "http://api.dvlp.sisrute.kemkes.go.id",
                'id' => '7371325',
                'pass' => '[PASSWORD DARI KEMKES]',
                'writeLog' => false,
            ],
            'RsOnline' => [
                'url' => 'http://sirs.yankes.kemkes.go.id/fo/index.php',
                'id' => '7371325',
                'key' => '[PASSWORD DARI KEMKES]',
                'writeLog' => false,
            ],
        ],
        "PusdatinService" => [
            "soap" => [
                "url" => "http://[IP/HOST/DOMAIN[:PORT]]/kemenkes/adminduk/?wsdl",
                "username" => "[USER NAME]",
                "token" => "[TOKEN]",
                'writeLog' => false,
            ],
            "rest" => [
                "url" => "http://[IP/HOST/DOMAIN[:PORT]]/api",
                "username" => "[USER NAME(OPTIONAL)]",
                "token" => "[TOKEN]",
                'writeLog' => false,
            ],
            "active" => "rest"
        ],
        'DukcapilService' => [
            'url' => 'http://[IP/HOST[:PORT]]/dukcapil/get_json/[RS]',
            'id' => '[USER ID DARI DUKCAPIL]',
            'pass' => '[PASSWORD DARI DUKCAPIL',
            'ip' => '[IP PUBLIK YANG TEREGISTER]',
            'writeLog' => false,
        ],
        'TTS' => [
            "url" => "https://translate.google.com/translate_tts",
            "params" => [
                "ie" => "UTF-8",
                "client" => "tw-ob",
                "q" => "[SET YOUR TEXT HERE]",
                "tl" => "id",
                "idx" => 0,
                "textlen" => 0
            ],
            'writeLog' => false,
        ],
        'MailServer' => [
            'host' => 'smtp.gmail.com',
            'port' => 587,
            'connection_class' => 'login',
            'connection_config' => [
                'username' => 'email',
                'password' => 'password-email',
                'ssl' => 'tls',
            ],
            //'max_timeout' => 60,
            'connection_time_limit' => 60
        ],
		/* Advance Feature */
        'JasaRaharjaService' => [
            'host' => 'http://ohs.jasaraharja.co.id',
            'port' => 7777,
            'uri' => '/JasaRaharja',
            'koders' => '{KODE RS DARI JASARAHARJA}',
            'writeLog' => false,
        ],
		/* Advance Feature */
        'PACService' => [
            'api' => [
                'url' => 'http://172.16.21.58:8042/',
                'username' => 'remote',
                'password' => 'bismillah',
                'viewer' => 'osimis-viewer/app/index.html',
            ],
        ],
		
		/* DEPRICATED SERVICE */
        'INASIService' => [
            'url' => 'http://dvlp.bpjs-kesehatan.go.id:8081/devwslokalrest',
            'id' => '{CONSUMER ID DARI BPJS}',
            'key' => '{CONSUMER SECRET DARI BPJS}',
            'timezone' => 'UTC',
            'addTime' => 'PT0M',
            'koders' => '7371325',
        ],
		/* DEPRICATED SERVICE */
        'SP2RService' => [
            'url' => 'http://sirs.buk.depkes.go.id/sirsservice',
            'id' => '[ID/KODE RS KEMKES]',
            'key' => '{KEY DIBERIKAN OLEH SIRS BUK YANKES KEMKES}',
            'timezone' => 'UTC',
            'addTime' => 'PT0M',
            'koders' => '7371325',
        ],
    ],
];
