<!-- CARD TOTAL -->
<div class="row">

    <div class="col">
        <div class="card text-center shadow">
            <div class="card-header bg-primary text-white">
                Total Pengguna
            </div>
            <div class="card-body">
                <b><h2>50</h2></b>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center shadow">
            <div class="card-header bg-success text-white">
                Total Pengguna
            </div>
            <div class="card-body">
                <b><h2>50</h2></b>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center shadow">
            <div class="card-header bg-warning text-white">
                Total Pengguna
            </div>
            <div class="card-body">
                <b><h2>50</h2></b>
            </div>
        </div>
    </div>

</div>

<!-- TABLE DATA -->

<div class="row">

    <div class="col">
        <div class="card shadow mt-3">

            <div class="card-header bg-dark text-white">
                Group Sosial Media
            </div>

            <div class="card-body">

                <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                </tr>
            </tbody>
        </table>
            
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card shadow mt-3">

            <div class="card-header bg-dark text-white">
                Group Sosial Media
            </div>

            <div class="card-body">

                <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                </tr>
            </tbody>
        </table>
            
            </div>
        </div>
    </div>


</div>
