<!-- CARD TOTAL -->
<div class="row">

    <div class="col">
        <div class="card text-center shadow">
            <div class="card-header bg-primary text-white">
                Total Pengguna
            </div>
            <div class="card-body">
                <b><h2><%= @user.count %></h2></b>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center shadow">
            <div class="card-header bg-success text-white">
                Total Periode Treatment
            </div>
            <div class="card-body">
                <b><h2><%= @periode_treatment.count %></h2></b>
            </div>
        </div>
    </div>


</div>

<!-- TABLE DATA -->

<div class="row">

    <div class="col">

     <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Presentase Pengerjaan Treatment</h5>
            <%= line_chart @presentase_pengerjaan_treatment %>
        </div>
     </div>

    </div>


</div>
